{% extends "default.html" %}
{% block title %}Register{% endblock %}
{% block head %}
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<title>한표</title>
	<link rel="stylesheet" type="text/css" href="dist/bootstrap.min.css"> 
	<link rel="stylesheet" type="text/css" href="css/reset.css?">
	<link rel="stylesheet" type="text/css" href="css/style.css?">       

	<link rel="shortcut icon" href="images/favicon/favicon.ico">
	<link rel="apple-touch-icon-precomposed" href="images/favicon/flat-design-touch.png">

	<script src="./dist/jquery.min.js"></script>
	<script src="./dist/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock %}
{% block content %}
<div id="wrap">
    <section class="content-header_h">
        <h2>문재인 후보자</h2>
    </section>
    <section class="detail-content_h">
        <table class="table detail-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">소속</th>
                    <th scope="col">이름</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>더불어민주당</td>
                    <td>문재인</td>
                </tr>
            </tbody>
        </table>
        <div class="detail-contents-con_h">
            <div class="profile-contents-con_h">
                <div class="profile-con">
                    <div><img src="images/문재인2.jpg"></div>
                </div>
                <div class="profile-con">
                    <div><img src="images/문재인1.jpg"></div>
                    <div class="profile-col"><img src="images/문재인3.jpg"><div class="more">더보기</div></div>
                </div>
            </div>
            <div class="carrer-con_h">
                <div class="carrer-img-con_h">
                    <img src="images/바이오그래피.jpg" alt="바이오그래피">
                </div>
                <div class="carrer-des-con_h">
                    <ul class="carrer">
                        <li class="highlight">2017.05 제 19대 대한민국 대통령</li>
                        <li>2015.12~2016.01 더불어민주당 당대표</li>
                        <li>2015.02~2015.12 새정치민주연합 당대표</li>
                        <li>2012.05~2016.05 제 19대 국회의원</li>
                        <li>2011.12 민주통합당 상임고문</li>
                        <li>2011 혁신과 통합 상임대표</li>
                        <li>2010.08~2012.04 사람사는세상 노무현재단 이사장</li>
                        <li>2009.09~2009.08 사람사는세상 노무현재단 상임이사</li>
                        <li>2007.08 제 2차 남북정상회담 추진위원회 위원장</li>
                        <li>2007.03~2008.02 대통령 비서실 실장</li>
                        <li>2005.01~2006.05 대통령비서실 민정수석비서관</li>
                        <li>2004.05~2005.01 대통령비서실 시민사회수석비서관</li>
                        <li class="hide">2011.12 민주통합당 상임고문</li>
                        <li class="hide">2011 혁신과 통합 상임대표</li>
                        <li class="hide">2010.08~2012.04 사람사는세상 노무현재단 이사장</li>
                        <li class="hide">2009.09~2009.08 사람사는세상 노무현재단 상임이사</li>
                        <li class="hide">2007.08 제 2차 남북정상회담 추진위원회 위원장</li>
                        <li class="hide">2007.03~2008.02 대통령 비서실 실장</li>
                        <li class="hide">2005.01~2006.05 대통령비서실 민정수석비서관</li>
                        <li class="hide">2004.05~2005.01 대통령비서실 시민사회수석비서관</li>
                    </ul>
                    <button type="button" class="btn btn-dark delete-hide">더보기</button>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(function(){
            $('.delete-hide').on("click",function(){
                $('.hide').removeClass('hide');
                $(this).addClass('hide');
            })
        });
    </script>
</div>
{% endblock %}