{% extends "default.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}




<style>
  .diva{
   align-content: center; 
   width:100%;
   margin-top: 50px;
   text-align: center;
  }
  #area{
    text-align: left;
    width:50%;
    display:inline-block;
    border:1px solid red;
  }
  #content{
    margin-left:10%;
    width:80%;
    text-align: center;
    border:1px solid red;
  }
  
  </style>
  <div class="diva" style="align-content: center;">
    <div id="area">
      <div>제목 : {{ml.msgTitle}}
      </div>
        
  
      <br>
      내용 <br>
      <div id="content">{{ml.msgContent}}
      </div>
        <br>
      
    </div>
  </div>

{% endblock %}
