{% extends "default.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div style="align-content: center;">
  <table class="table">
			<thead>
			  <tr>
  				<td colspan="5" align="right"> 총 내역 목록 : <b>{{l}}</b>개
            <td><form action="writeMsg"><input type="submit" value="추가"/></form></td>
  			</tr>
			<tr>
      <th>상태</th>	<th>메시지 제목</th>	<th>메시지 내용</th>	
      <th>작성 시간</th><th>보낸 시간</th><th>수신자 목록</th><th> " " </th>
			</tr>
			</thead>
			<tbody>


{% for ml in data %}
<tr><td>{{ml.state}}</td><td>{{ml.msgTitle}}</td><td>{{ml.msgContent}}</td><td>{{ml.wroteTime}}</td>
  <td>{{ml.sendedTime}}</td><td><a href="receiverList?eid={{ml.election_id}}">{{ml.election_title}} 선거방</a></td>
  <td>뭐더라..</td>
  {% if ml.state == 0 %}
    <td><form action="sendMsg" method="post"><input type="submit" value="보내기"/>
      <input type="hidden" name="msgId" value={{ml.id}}/>
      <input type="hidden" name="election_id" value={{ml.election_id}}/></form></td><td>
      <form action="delMsg" method="post"><input type="submit" value="삭제하기"/>
        <input type="hidden" name="msgId" value={{ml.id}}/></form></td>
  {% else %}
    <td><form action="delMsg" method="post"><input type="submit" value="삭제하기"/>
      <input type="hidden" name="msgId" value={{ml.id}}/></form></td>
  {% endif %}

</tr>


 {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
