{% extends "default.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div style="align-content: center;">
  <table class="table">
			<thead>
			  <tr>
  				<td colspan="5" align="right"> 총 내역 목록 : <b>{{l}}</b>개
            <td><form action="writeMsg"><input type="submit" value="추가"/></form></td>
  			</tr>
			<tr>
      <th>수신자 아이디</th>	<th>수신자 이름</th>	<th>수신 상태</th>	

			</tr>
			</thead>
			<tbody>


{% for ml in data %}
<tr><td>{{ml.id}}</td><td>{{ml.username}}</td><td>{{ml.password}}</td></tr>






 {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
