{% extends "default.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}





<div style="align-content: center;">
  <table class="table">
    <thead>
      <tr>
        <td colspan="5" align="right"> 총 내역 목록 : <b>{{l}}</b>개
          <td><form action="writeMsg"><input type="submit" value="추가"/></form></td>
      </tr>
    <tr>
    <th>상태</th>	<th>메시지 제목</th>
    <th>받은 시간</th><th>발신 선거방</th>
    </tr>
    </thead>
    <tbody>
 {% for mlist in result %}
  {% for ml in mlist %}
<tr><td>{{ml.state}}</td>




  <td><a href="detailMsg?variable={{ml.msgContent}}">{{ml.msgTitle}}</a></td>



  <td>{{ml.sendedTime}}</td><td>{{ml.election_title}}</td>

   {% endfor %}
 {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
