{% extends "default.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<style>
.diva{
 align-content: center; 
 width:100%;
 margin-top: 50px;
 text-align: center;
}
#area{
  text-align: left;
  width:50%;
  display:inline-block;
  border:1px solid red;
}

</style>
<div class="diva" style="align-content: center;">
  <div id="area">
    <form action="addMsg" method="post">
      제목 : <input type="text"  name="title" placeholder="title"/>


    <br>
      <textarea name="content" cols="80%" rows="10" placeholder="메시지 작성"></textarea>
      <br>
      선거방 목록
      <select id="dropbt" name="selected">
        {% for ml in data %}
        <option value={{ml}}>{{ml}}</a>
        {% endfor %}
    </select>
        <input type="submit" value="추가하기"/>
    </form>
  </div>
</div>
{% endblock %}
