{% extends "default.html" %}
{% block title %}선거생성{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<div class="container mt-5" style="text-align: center">
    <h1 style="text-align: left;">등록된 선거</h1>
    <table class="table table-bordered table-sm mt-3">
        <thead>
            <tr class="bg-dark" style="color: white">
                <th scope="col">상태</th>
                <th scope="col">선거 이름</th>
                <th scope="col">선거 내용</th>
                <th scope="col">시작 시간</th>
                <th scope="col">종료 시간</th>
                <th scope="col">기능</th>
            </tr>
        </thead>
        <tbody>
            {% for data in res_list.items %}
            <tr>
                {% if data.state == 0 %}
                <td>대기</td>
                {% else %}
                <td>진행</td>
                {% endif %}
                <td>{{ data.title }}</td>
                <td>{{ data.desc }}</td>
                <td>{{ data.startat }}</td>
                <td>{{ data.endat }}</td>
                <td>
                    <form>
                        <!-- <button type="button" class="btn btn-dark btn-sm" onclick="location.href='/'">수정</button> -->
                        <a href="/election/modify/{{data.id}}" class="btn btn-dark btn-sm">수정</a>
                        
                        {% if data.state == 0 %}
                        <button type="button" class="btn btn-dark btn-sm">시작</button>
                        <button type="button" class="btn btn-dark btn-sm">삭제</button>
                        {% else %}
                        <button type="button" class="btn btn-dark btn-sm">종료</button>
                        {% endif %}
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if res_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ res_list.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in res_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != res_list.page %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if res_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ res_list.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
</div>
<!-- 아래 -->
<div class="container mt-2" style="text-align: center">
    <h1 style="text-align: left;">종료된 선거</h1>
    <table class="table table-bordered table-sm mt-3">
        <thead>
            <tr class="bg-dark" style="color: white">
                <th scope="col">상태</th>
                <th scope="col">선거 이름</th>
                <th scope="col">선거 내용</th>
                <th scope="col">시작 시간</th>
                <th scope="col">종료 시간</th>
                <th scope="col">기능</th>
            </tr>
        </thead>
        <tbody>
            {% for data in end_list.items %}
            <tr>
                <td>종료</td>
                <td>{{ data.title }}</td>
                <td>{{ data.desc }}</td>
                <td>{{ data.startat }}</td>
                <td>{{ data.endat }}</td>
                <td>
                    <form>
                        <button type="button" class="btn btn-dark btn-sm">삭제</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if end_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page2={{ end_list.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in end_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != end_list.page %}
        <li class="page-item">
            <a class="page-link" href="?page2={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if end_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page2={{ end_list.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
</div>

{% endblock %}