{% extends "default.html" %}
{% block title %}선거생성{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <h1>선거 수정</h1>
    </div>
    <div class="row mt-5">
        <div class="col-10 ">
            <form method="POST">
                <div class="form-group col align-self-center">
                    {{ form.title.label("선거 이름") }}
                    {{ form.title(class="form-control", value=data.title) }}
                </div>
                <div class="form-group col align-self-center">
                    {{ form.desc.label("선거 내용") }}
                    {{ form.desc(class="form-control", value=data.desc) }}
                </div>
                <div class="form-group col align-self-center">
                    {{ form.startat.label("시작 시간") }}
                    {{ form.startat(class="form-control") }}
                </div>
                <div class="form-group col align-self-center">
                    {{ form.endat.label("종료 시간") }}
                    {{ form.endat(class="form-control") }}
                </div>
                    
                <div class="text-right">
                    <button type="submit" class="btn btn-primary mt-3">수정</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}