{% extends "default.html" %}
{% block head %}
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<title>한표</title>
	<!-- <link rel="stylesheet" type="text/css" href="dist/bootstrap.min.css"> 
	<link rel="stylesheet" type="text/css" href="css/reset.css?">
	<link rel="stylesheet" type="text/css" href="css/style.css?">        -->

	<!-- <script src="./dist/jquery.min.js"></script>
	<script src="./dist/bootstrap.min.js"></script> -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    
    <link href="{{ url_for('static', filename='hj/dist/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='hj/css/reset.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='hj/css/style.css') }}" rel="stylesheet" type="text/css">

	<script src="{{ url_for('static', filename='hj/dist/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='hj/dist/bootstrap.min.js') }}"></script>

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock %}
{% block content %}
<div id="wrap">
    <section class="content-header_h">
        <h2>{{ election.title }} {% if func == '2' %} 결과 {% endif %}</h2>
    </section>
    <section class="voter-content_h">
        <div class="card_h description-card_h">
            <div class="card-body_h">
                <div class="card-subtitle">
                    <button type="button" class="btn btn-dark" disabled>일시</button>
                    <div>{{ election.startat }} ~ {{ election.endat}}</div>
                </div>
                <div class="card-subtitle"><button type="button" class="btn btn-dark" disabled>상세설명</button>
                <div style="text-align: left;">{{ election.desc }}</div></div>
            </div>
        </div>
        <div class="voter-header_h">
            <h2>후보자 목록</h2>
        </div>
        <div class="voter-container_h">
            {% for candidate in candidates %}
            {% set modal_count = 2*candidate.candidate_id-1 %}
            <div class="card_h voter-card_h" data-candidate-id='{{ candidate.candidate_id }}' data-candidate-name='{{ candidate.name }}'>
                <div class="card-body_h">
                    <h5 class="card-title">
                        {% if 'my_vote' in vote_data.keys() and vote_data['my_vote'] == candidate.candidate_id %}
                        (voted)
                        {% elif 'elected' in vote_data.keys() and vote_data['elected'] == candidate.candidate_id %}
                        (Elected)
                        {% endif %}
                        {{ candidate.name }} 후보</h5>
                    <div class="card-img_h">
                        <img src="{{ url_for('static', filename='hj/images/'+candidate.candidate_img) }}" alt="{{ candidate.candidate_id}}번 후보자"/>
                    </div>
                    <div class="voter-btn-con_h">
                        {% if func == '2' %}
                            <h5>{{ vote_data['num_of_vote'][candidate.candidate_id]}} / {{ vote_data['whole_of_vote']}} ({{vote_data['ratio'][candidate.candidate_id]}}%)</h5>
                        {% else %}
                        <div class="voter-btn-first-row">
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal{{modal_count}}">공약</button>
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal{{modal_count+1}}">경력</button>
                        </div>
                        <button type="button" class="btn btn-dark btn-detail" data-candidate-id="{{ candidate.candidate_id}}">상세보기</button>
                        {% endif %}
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal{{modal_count}}" data-backdrop="false" tabindex="-1" aria-labelledby="modal{{modal_count}}Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal{{modal_count}}Label">{{ candidate.name }} 후보 공약</h5>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                        <div class="modal-body">
                             <img src="{{ url_for('static', filename='hj/images/'+candidate.pledge) }}"/>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal{{modal_count+1}}" data-backdrop="false" tabindex="-1" aria-labelledby="modal{{modal_count+1}}Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal{{modal_count+1}}Label">{{ candidate.name }} 후보 경력</h5>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                        <div class="modal-body">
                             <img src="{{ url_for('static', filename='hj/images/'+candidate.career) }}"/>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if func == '1' %}
        <button class="btn vote-btn">투표하기</button>
        {% endif %}
    </section>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/views/election/voterlist.js') }}"></script>
{% endblock %}
